@using Todo.Controllers
@using Todo.Data.Entities
@using Todo.Services
@model Todo.Models.TodoLists.TodoListDetailViewmodel

@{
    ViewData["Title"] = $"List: {Model.Title}";
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-6">

    <ul class="list-group">

        <li class="list-group-item">
             <a href="#" class="btn" data-toggle="modal" onclick="create(@Model.TodoListId)">
                <strong>Add New Item</strong>
            </a>

            <span style="float:right">
                <label><input id="hideIsDone" type="checkbox" onchange="toggleIsDoneCheckbox()" /> Hide marked items</label>
            </span>

            <span style="float:right">
                <label><input id="orderByRank" type="checkbox" onchange="" /> Order by Rank</label>&ensp;
            </span>

        </li>

        @foreach (var item in Model.Items.OrderBy(item => item.Importance))
        {
            string contextualClass;
            switch (item.Importance)
            {
                case Importance.High:
                    contextualClass = "list-group-item-danger";
                    break;
                case Importance.Low:
                    contextualClass = "list-group-item-info";
                    break;
                default:
                    contextualClass = "";
                    break;
            }

            <li class="list-group-item @contextualClass">

                <div class="row">

                    <div class="col-md-8">
                        <a asp-action="Edit" asp-controller="TodoItem" asp-route-todoItemId="@item.TodoItemId">

                            @if (item.IsDone)
                            {
                                <s id="isDone"> @item.Title</s>
                            }
                            else
                            {
                                <text>@item.Title</text>
                            }
                        </a>
                    </div>

                    <div class="col-md-4 text-right">
                        <small>
                            @item.ResponsibleParty.UserName

                            <img src="https://www.gravatar.com/avatar/@Gravatar.GetHash(item.ResponsibleParty.Email)?s=30" />

                        </small>
                    </div>
                </div>

            </li>
        }
    </ul>
</div>

<div id="create" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal-confirm-cancel-label" aria-hidden="true"></div>